{% extends 'base.html' %}
{% block title %} sigmotoa pets {% endblock %}


{% block content %}

<div class="content is-large">
    <div class="columns is-vcentered">

        <div class="column is-half">
            <h1 class="title is-large">sigmotoa Pets</h1>

            <br>
            <figure class="image">
                <img src="https://zglfsrorntifwejtpmjq.supabase.co/storage/v1/object/public/pet.images/image/parky_home.png"
                     alt="Parky"
                >
            </figure>
        </div>


        <div class="column is-half">
            <h1 class="title is-large">Parky</h1>
            <p class="subtitle is-2">

                <br>
                Este es un pequeño proyecto de clase para contar un poco de la historia de Parky.
            </p>
            <div class="content">
                <p>
                    Cada mascota tiene una historia única que contar.
                    Aquí compartimos las aventuras,
                    alegrías y momentos especiales que hacen de nuestros amigos peludos parte
                    importante de nuestras vidas.
                </p>
                <p>
                    Este amigo fue rescatado de una vida de muchas dificultades y con el amor de unos humanos ha vivido
                    hermosas aventuras y cada día se encarga de cuidar de sus humanos y de su revoltoso hermano Cometa.

                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}