<nav class="navbar" role="navigation" aria-label="main navigation" style="overflow:visible; z-index: 10;">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <img src="https://zglfsrorntifwejtpmjq.supabase.co/storage/v1/object/public/pet.images/image/favicon.svg">


        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/web/">
                Home
            </a>

            <a class="navbar-item" href="/web/pets">
                Parky Friends
            </a>


        </div>

        <div class="navbar-end">
            <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="/web/new">
            <strong>Add a Friend</strong>
          </a>

        </div>
            <div class="navbar-item">
                <div class="navbar-item has-dropdown is-hoverable is-right">
                    <a class="navbar-link">
                        More
                    </a>
                    <div class="navbar-dropdown" style="position: absolute; z-index: 999;">
                        <a class="navbar-item">
                            About
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
</nav>